/* Browser Reset */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin: 0;
}

p {
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
}


body {
	background: #e1dac9 url(../img/pattern.jpg) repeat left top;
	font: 36px/ 1.75 'Butterfly Kids', cursive;
	color: #333;
}

h1, 
h2 {
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    text-align: center;
}

p {
    text-align: center;
}

a {
    color: #c7c1b2;
}

ul,
li {
    list-style-type: none;
}

section {
    max-width: 50rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#aside ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#aside li {
    padding: 6px;
}

#aside img {
    width: 120px;
    height: auto;
    border: 4px solid #fff;
    cursor: pointer;
}

#main {
    margin: 0 auto;
    padding: 1rem 0;
    border-top: 4px double #c7c1b2;
    text-align: center;
}

#main img {
    border: 6px solid #fff;
    cursor: pointer;
}

#admin {
    margin: 0 auto;
    padding: 1rem 0;
    border-top: 4px double #c7c1b2;
}

.btn {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#clear {
    background-color: #dc3545;
}

#save {
    background-color: #28a745;
}

#cancel {
    background-color: #007bff;
}



.btn:hover,
.btn:focus {
    background-color: #443062;
}

.half,
.button {
    margin: 0 auto;
    width: 50%;
}

input {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.extra {
    margin-bottom: 0.50rem;
}

footer {
    font-size: 28px;
    text-align: center;
    color: #c7c1b2;
}

.footer {
    margin: 0 auto;
    padding: 1rem 0;
    border-top: 4px double #c7c1b2;

}
}
